.pkl
.pth
Tris_data_train_inspect.csv
TrisGame/__pycache__/RLAgent.cpython-313.pyc
TrisGame/__pycache__/tris.cpython-313.pyc
TrisGamePy/__pycache__/dqn_agent.cpython-313.pyc
TrisGamePy/__pycache__/tris.cpython-313.pyc
